   	<script type="text/javascript" src="https://tamco.fast-option.com/templates/js/jszip.js"></script>
<script type="text/javascript" src="https://tamco.fast-option.com/templates/js/jszip-utils.js"></script>
<script type="text/javascript" src="https://tamco.fast-option.com/templates/js/FileSaver.js"></script>
    <nav class="hk-breadcrumb" aria-label="breadcrumb" ng-init="getshelvelist(1,0);">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
                    <li class="breadcrumb-item"><a href="#"><i class="glyphicon glyphicon-home"></i>   {{'lang_Home'|translate}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{'lang_InventoryManagement'|translate}}</li>
					<li class="breadcrumb-item active" aria-current="page">{{'lang_ShowShelve'|translate}}</li>
                </ol>
    </nav>
	<div class = "">
	<section class="hk-sec-wrapper">
	<h5>{{'lang_ShowShelve'|translate}}</h5><br>
	<section class="hk-sec-wrapper">
	<div class="panel-body">
        
    <div class = "row">
   
	    <div class = "col-md-12">
            <div class="alert alert-warning" role="alert" ng-repeat="edata in Warningshow.shelv_locationErr">
                {{'lang_ShelvLocation_error'|translate}} {{edata}}
            </div> 

            <div class="alert alert-warning" role="alert" ng-repeat="edata in Warningshow.cityiderr">
                {{'lang_City_Name_error'|translate}} {{edata}}
            </div> 


            <div class="alert alert-success" role="alert" ng-repeat="edata in Warningshow.valid">
                {{'lang_added_row'|translate}} {{edata}}
            </div>
            <div class="col-md-12 row">
            <div class = "col-md-6 ">
                <label><strong>{{'lang_ImportFile'|translate}}</strong></label><br>
                <input type='file' name='file' id='file' ng-file='uploadfiles' class="btn btn-info" required><br/><br/>
            </div>
            <div class = "col-md-6 ">
                <div class="heading-elements pull-right"><br>
                    <a href="Excel_export/shelveBulkFormate" target="_blank"> <i class="fa fa-file-excel-o fa-2x"></i> <br />{{'lang_ImportCSVShelve'|translate}}</a>
                </div>  
            </div>         
            <div class = "col-md-6">
                <button type="button" class="btn btn-primary" id='upload' ng-click='upload()' value="submit" >{{'lang_AddShelve'|translate}}</button>                              
            </div>
        </div> 
       </div>
    </div>
    <br>
        <table class="table datatable-show-all table-bordered table-hover datatable-highlight">
        
            <thead>
            <tr><th colspan="9">
            <input class="btn-primary" type="button" value="Export to Zip" style="float:right;" onclick="create_zip();" >
            </th></tr>
            <tr>
            <th class="head1">#</th>
            <th class="head0">{{'lang_city'|translate}}</th>
            <th class="head1">{{'lang_ShelvLocation'|translate}}</th>   
            <th class="head0">{{'lang_ShelveNo'|translate}}.</th>
            <th class="head1">{{'lang_action'|translate}}</th>
            </tr>
            </thead>
            
            <tbody>
			<tr ng-repeat="data in ShelvelistArray">
			<td>{{$index+1}}</td>
			<td>{{data.city_id}}</td>
			<td>{{data.shelv_location}}</td>
			<td>{{data.shelv_no}}</td>
			<td>
			<div class="btn-group">
                    <button type="button" class="btn btn-primary"><i class="icon-list"></i></button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">{{'lang_Toggle_Dropdown'|translate}}</span>
                    </button>
                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(138px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" ui-sref="edit_shelve({sheid:data.id})"><i class="fa fa-pencil-square-o"></i>&nbsp;{{'lang_edit'|translate}}</a>
					<a class="dropdown-item" ng-click="GetShelvedelete(data.id)" ng-confirm-click="Do you want to Delete?"><i class="fa fa-trash-o fa-fw"></i>Delete</a>
                    </div>
                </div>
			</td>
			</tr>
			</tbody>
			</table> 
			<button ng-hide="ShelvelistArray.length==totalCount" class="btn btn-info" ng-click="getshelvelist(count=count+1,0);" ng-init="count=1">{{'lang_Load_More'|translate}}</button>
            
            <div style="display:none;" ng-init="getExcelshelvelist(1,0);"> 
            
             <table class="table datatable-show-all table-bordered table-hover datatable-highlight"  id="show_shelve_print">
        
            <thead>
           
            <tr>
            <th class="head1">#</th>
            <th class="head0">{{'lang_city'|translate}}</th>
            <th class="head1">{{'lang_ShelvLocation'|translate}}</th>
            <th class="head0">{{'lang_ShelveNo'|translate}}.</th>
           
            </tr>
            </thead>
            
            <tbody>
			<tr ng-repeat="datas in Excelshelvelist">
			<td>{{$index+1}}</td>
			<td>{{datas.city_id}}</td>
			<td>{{datas.shelv_location}}</td>
			<td>{{datas.shelv_no}}</td>
			
			</tr>
			</tbody>
			</table> 
            </div>
           
	</section>
	</section>
	</div> 
<SCRIPT>

function create_zip() {
var tab_text = '<html xmlns:x="urn:schemas-microsoft-com:office:excel">';
 tab_text = tab_text + '<head><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet>';
 tab_text = tab_text + '<x:Name>Test Sheet</x:Name>';
 tab_text = tab_text + '<x:WorksheetOptions><x:Panes></x:Panes></x:WorksheetOptions></x:ExcelWorksheet>';
 tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';
 tab_text = tab_text + "<table border='1px'>";
//get table HTML code
 tab_text = tab_text + $('#show_shelve_print').html();
 tab_text = tab_text + '</table></body></html>';
	
	/*var zip = new JSZip();
	zip.add(Date()+"_manifest details.xls", tab_text);
	content = zip.generate();
	zip.file(Date()+"_manifest details.xls"); // the file
	location.href="data:application/zip;base64," + content;*/
	
	var zip = new JSZip();
zip.file(Date()+" Show Shelve.xls", tab_text);
zip.generateAsync({type:"blob"})
.then(function(content) {
    saveAs(content, Date()+" Show Shelve.zip");
});
	

}
</SCRIPT>