    <nav class="hk-breadcrumb" aria-label="breadcrumb" ng-init="GetCountryDropshow();GetprivilageData();">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
                    <li class="breadcrumb-item"><a href="#"><i class="glyphicon glyphicon-home"></i>   {{'lang_Home'|translate}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{'lang_StaffManagement'|translate}}</li>
                    <li class="breadcrumb-item active" aria-current="page">{{'lang_AddStaff'|translate}}</li>
                </ol>
            </nav>
   <div class="">
                <!-- Title -->
                           
           
 <section class="hk-sec-wrapper">
   <div class="panel-heading">
            <h5 class="panel-title"> {{'lang_AddStaff'|translate}}</h5>    
        </div><br>
		<div class="row">    
		<div class="col-lg-12">
			<div class="panel panel-default">
             <div class="loader logloder" ng-show="loadershow"></div>
				<div class="panel-body">
       
        			<form class="stdform"  name="add_staff" >
                    
                    <input type="hidden" name="usertype" value="">
         
                    <div class="form-group">
                    <label>{{'lang_Name'|translate}}</label>
                    <input type="text" name="name"  class="form-control" ng-model="staffArray.name" required> 
					<span class="text-danger" ng-show="add_staff.name.$error.required">{{'lang_Name_is_required'|translate}}.</span>
                    </div>
                        
                    <div class="form-group">
                    <label>{{'lang_address'|translate}}</label>
                    <input type="text" name="address" class="form-control" ng-model="staffArray.address" required >
					<span class="text-danger" ng-show="add_staff.address.$error.required">{{'lang_Addressisrequired'|translate}}.</span>
                    </div>
                    
                    <div class="form-group">
                    <label>{{'lang_phone'|translate}}</label>
                    <input type="text" name="phone" maxlength="10" minlength="10" pattern="[0-9]*" class="form-control" ng-model="staffArray.phone" required >
					<span class="text-danger" ng-show="add_staff.phone.$error.required">{{'lang_Phoneisrequired'|translate}}</span>
                    </div>
                    
					<div class="form-group">
						<label>{{'lang_email'|translate}} <span style="color:red">*</span></label>
						<input type="email" class="form-control" ng-pattern="/^([a-z][a-zA-Z0-9_]*(\.[a-zA-Z][a-zA-Z0-9_]*)?@[a-z][a-zA-Z-0-9]*\.[a-z]+(\.[a-z]+)?)|[7-9][0-9]{9}$/" id="email" name="email" ng-model="staffArray.email" required>
					 <span ng-if="add_staff.email.$error.pattern" style="color:red">{{'lang_Enter_valid_email'|translate}}</span>  
					  <span ng-if="add_staff.email.$error.required" style="color:red">{{'lang_Emailisrequired'|translate}}</span>  
                    </div> 
					
                  
						 
                    <div class="form-group"> 
                    <label>{{'lang_country'|translate}}</label>
                    <select  id="sel_country" name="sel_country" ng-model="staffArray.country_id" ng-change="showOriginDrop(staffArray.country_id);" class="form-control" required>
			        <option value="">{{'lang_Please_Select'|translate}}</option>
                     <option ng-repeat="ctdata in CountryData" value="{{ctdata.id}}">{{ctdata.country}}</option></select>
					  <span ng-if="add_staff.sel_country.$error.required" style="color:red">{{'lang_Country_is_Required'|translate}}</span>
                    </div>
                
					 <div class="form-group">
						<label>{{'lang_BranchLocation'|translate}}<span style="color:red">*</span></label>
						<input type="text" name="sel_country" id="show_city_dropdown"  placeholder="Branch Location" class="awesomplete ui-autocomplete-input watermark width_set form-control" ng-model="staffArray.branch_location">  
			  
						  
                    </div>  
                   
					<div class="form-group">
						<label>{{'lang_AssignPrivilege'|translate}} <span style="color:red">*</span></label>
						<select name="privilege" ng-model="staffArray.privilege" id="privilege" class="form-control" required> 
								<option value="" selected="selected">{{'lang_Please_Select'|translate}}</option>						 
								<option value="CSA">{{'lang_Customer_Services_Assistant'|translate}}</option>
								<option value="CSM">{{'lang_Customer_Services_Manager'|translate}}</option>
								<option value="OPA">{{'lang_Customer_Permission_Manager'|translate}}</option>
								<option value="RTO">{{'lang_Return_To_Officer'|translate}}</option>
								<option value="FIN">{{'lang_Finance'|translate}}</option>
                                <option value="IT">{{'lang_Information_Tech_team'|translate}}</option> 
						</select>
						<span ng-if="add_staff.privilege.$error.required" style="color:red">{{'lang_Privilege_is_required'|translate}}</span>
                    </div> 
                    <div class="form-group">
						<label>{{'lang_password'|translate}}</label> 
						<input type="password" class="form-control" name="password" ng-model="staffArray.password" required>
						<span class="text-danger" ng-show="add_staff.password.$error.required">{{'lang_Passwordisrequired'|translate}}.</span>
                    </div>
                    <input name="id" id="id" type="hidden" value="">
					<input name="submit" type="submit" class="btn btn-primary" ng-disabled="add_staff.$invalid" ng-click="Addstaffform(staffArray);">

                    </form> 
                    
 			  	</div>
            </div>
        </div>
    </div>
</section>


  
    
