   	<nav class="hk-breadcrumb" aria-label="breadcrumb" ng-init="returnmanifest();">
        <ol class="breadcrumb breadcrumb-light bg-transparent">
            <li class="breadcrumb-item"><a href="#"><i class="glyphicon glyphicon-home"></i>   {{'lang_Home'|translate}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{'lang_Manifest_Management'|translate}} </li>
			<li class="breadcrumb-item active" aria-current="page">{{'lang_Add_Menifest'|translate}} </li>
        </ol>
    </nav>
	<div class = "">
	<div class="breadcrumb-line">
	    <div class="hk-pg-header">
            <h4><i data-feather="arrow-left-circle"></i></i> 
            <span class="text-semibold"></span>{{'lang_Add_Menifest'|translate}}</h4>
		</div>
	</div>
	<section class="hk-sec-wrapper">
	<div class="panel panel-flat">
      <div class="panel-heading">
        <h5 class="panel-title">{{'lang_Add_Menifest'|translate}}</h5>
        <!--<div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                        <li><a data-action="reload"></a></li>
                        <li><a data-action="close"></a></li>
                    </ul>
                </div>--> 
      </div><br>
      <div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body">

				<form role="form" name="add_menifest" id="add_menifest" method="post" action="" enctype="multipart/form-data">
                 <div class="row">
                                <div class="col-sm">
                                    <div class="row">
									
                                <div class="col-lg-6">
                <div class="form-group">
                <label>{{'lang_From'|translate}}</label><span id="alert_name" class="error_alert"></span>
                <select name="sel_country" class="form-control" id="sel_country" onchange="createCityDropdownById_from(this.value);">
					<option value="" selected="selected">{{'lang_Please_Select'|translate}} </option><option value="1">Saudi Arabia</option></select>
                </div>     
                </div>
                        
                <div class="col-lg-6">  
                <div class="form-group"> 
                <label> {{'lang_city'|translate}} </label><span class="alert"></span>
                <span id="city_dropdown_show">
                                <select name="mfrom" id="mfrom" class="form-control" data-live-search="true">
                <option value="">{{'lang_Please_Select'|translate}} </option>
                <option value=""></option>
                </select>
                                </span>
                </div>
                </div>
                
         		                       
                <div class="col-lg-6">
                <div class="form-group"><!-- Country-->
                <label>{{'lang_To'|translate}} </label><span id="alert_name" class="error_alert"></span>
                <select name="sel_country" class="form-control" id="sel_country" onchange="createCityDropdownById_to(this.value);">
					<option value="">{{'lang_Please_Select'|translate}} </option><option value="1">{{'lang_SaudiArabia'|translate}}</option></select>
                </div>     
                </div>
                                                
                <div class="col-lg-6">
                <div class="form-group"> <!--To--> 
                <label> {{'lang_city'|translate}} </label><span class="alert"></span>
                <span id="city_dropdown_show_to">                 <select name="mto" id="mto" class="form-control" data-live-search="true">
                <option value="">{{'lang_Please_Select'|translate}} </option>
                <option value=""></option>
                </select>
                                </span>               
                </div>
                </div>
                
                <div class="col-lg-6"> 
                <div class="form-group"> 
                <label>{{'lang_DateFrom'|translate}} </label><span class="alert"></span>
                <input type="date" name="mdate" id="datepickto" class="form-control" value="2019-11-27 10:09:19">
                </div>
                </div>
                
                <div class="col-lg-6"> 
                <div class="form-group"> 
                <label>{{'lang_Date_To'|translate}} </label><span class="alert"></span>
                <input type="date" name="mdate1" id="datepickto" class="form-control" value="">
                </div>
                </div>
                     
                <div class="col-lg-6">  
                <div class="form-group">
                <button type="submit" class="btn btn-primary" name="view" value="submit">{{'lang_View_Shipment'|translate}}  </button> 
                </div>
                </div>
                 
                 </div>
				 </div>
				 </div>
         
                <input type="hidden" id="branchtype" value="">	
                 
                
               	   
                                <div class="contenttitle2" style=" border:none;float:right; width:38%;">
                <br> <span style="border:none; float:left; width:18%;">{{'lang_NOTE'|translate}} :</span>
                <span style=" float:left;">
                <span style="margin:2px 2px 2px 4px; width:15px; height:15px; float:left; background-color:#CDCDCD;"></span>:{{'lang_ManifestonceGenerated'|translate}} </span>
                				</div>
				
                <table class="table table-striped table-bordered table-hover">
                        
                <thead>      
                    <tr>
                    <th class="head1">{{'lang_srNo'|translate}} .</th>
                    <th>{{'lang_SelectAll'|translate}}<br>
                    <input type="checkbox" onclick="toggle2(this)" name="selectAll[]"></th>
                    <th class="head0">{{'lang_AWB_No'|translate}} .</th>
                    <th class="head1">{{'lang_Shipper'|translate}} </th>
                    <th class="head1">{{'lang_Consignee'|translate}} </th>
                    <th class="head0">{{'lang_Pieces'|translate}} </th>
                    <th class="head1">{{'lang_WEIGHT'|translate}}</th>
                    <th class="head0"> {{'lang_origin'|translate}} </th>
                    <th class="head0">{{'lang_destination'|translate}} </th>
                    </tr>
                </thead> 
                
                <tbody>
				 <tr ng-repeat= "data in returnmanifest">
		    <td>{{$index+1}}</td>
			<td><input type="checkbox" onclick="toggle2(this)" name="selectAll[]" value="">
              <br>
               Select All</td>
			<td>{{data.awbillno}}</td>
			<td>{{data.shipper}}</td>
			<td></td>
			<td></td>
			<td>{{data.pcs}}</td>
			<td>{{data.weight}}</td>
			<td></td>
			<td>{{data.destination}}</td>
            </tr>
                </tbody> 
                  			
				</table>
				<br>
                       
                <input name="id" type="hidden" value="">
                <button type="submit" class="btn btn-primary" name="submit" value="submit" onclick="return Valid_menifest(document.add_menifest);">  {{'lang_Manifest"'|translate}} </button>
                     
				</form>
                    
			</div>
		</div>
	</div>                            
</div>
</section>	
