 <!-- Footer -->
            <div class="hk-footer-wrap container">
                <footer class="footer">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <p>Power By<a href="https://fastcoo.com/" target="_blank"> <img src="assets/images/Fastcoo-Coloured1.png" class="img-fluid" style="vertical-align: middle;" width="45px;" height="40px;"  class="text-dark" ></a> © 2020</p>       
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <!--<p class="d-inline-block">Follow us</p>
                            <a href="#" class="d-inline-block btn btn-icon btn-icon-only btn-indigo btn-icon-style-4"><span class="btn-icon-wrap"><i class="fa fa-facebook"></i></span></a>
                            <a href="#" class="d-inline-block btn btn-icon btn-icon-only btn-indigo btn-icon-style-4"><span class="btn-icon-wrap"><i class="fa fa-twitter"></i></span></a>-->
                            
                        </div>
                    </div>
                </footer> 
            </div>
            <!-- /Footer -->
            <script>
window.onload = function(){
var date = new Date().getFullYear();
document.getElementById("year").innerHTML = date; 
}
</script>