    <nav class="hk-breadcrumb" aria-label="breadcrumb" ng-init="GetCountryDropshow();">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
                    <li class="breadcrumb-item"><a href="#"><i class="glyphicon glyphicon-home"></i>   {{'lang_Home'|translate}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{'lang_ServiceManagement'|translate}}</li>
                    <li class="breadcrumb-item active" aria-current="page">{{'lang_Add_Services'|translate}}</li>
                </ol>
            </nav>
   <div class="">
                <!-- Title -->
                           
        
           
 <section class="hk-sec-wrapper">
   <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">{{'lang_Add_Services'|translate}}</h5>           
        </div><br>

        <div class="col-lg-12">
    		<div class="panel panel-default">
    			<div class="panel-body">
       
					<form class="stdform" name="add_service">
        
                    <div class="form-group">
                    <label>{{'lang_Services_Name'|translate}}</label><span id="heading_info" class="alert"></span>
                    
                    <input type="text" class="form-control" id="services_name" name="services_name" ng-model="serviceArray.services_name" Required>
                    
					<span class="text-danger" ng-show="add_service.services_name.$error.required">{{'lang_ServiceName_is_Required'|translate}}</span> 
					</div>
                  
                    <input name="id" type="hidden" value="">
                    <input name="submit" type="submit" value="Submit" ng-disabled="add_service.$invalid" class="btn btn-primary" ng-click="AddServiceName(serviceArray);">
                    
					</form>
                    
 			  	</div>
            </div>
        </div>
</section>


  
		
		