  
  
    <nav class="hk-breadcrumb" aria-label="breadcrumb" ng-init="ShowServicesData(1,0);">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
                    <li class="breadcrumb-item"><a href="#"><i class="glyphicon glyphicon-home"></i>   {{'lang_Home'|translate}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{'lang_ServiceManagement'|translate}}</li>
                    <li class="breadcrumb-item active" aria-current="page">{{'lang_ViewServices'|translate}}</li>       
                </ol>
            </nav>
   <div class="">
                <!-- Title -->
                            
           
     <section class="hk-sec-wrapper">
   
 
     <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">{{'lang_Delivery_Services'|translate}}</h5>         
        </div><br>
                        
	<table class="table datatable-show-all table-bordered table-hover datatable-highlight">
        
        <thead>
            <tr>
                <th>{{'lang_srNo'|translate}}</th>
                <th>{{'lang_Services_Name'|translate}}</th>
				<th>{{'lang_status'|translate}}</th>
                <th>{{'lang_actions'|translate}}</th>
            </tr>
        </thead>
        
        <tbody>
             <tr ng-repeat="service in ServicesList">
            <td>{{$index+1}}</td>
            <td>{{service.services_name}}
            </td>
			<td><span class="badge badge-success ng-binding ng-scope" ng-if="service.status=='Y'">{{'lang_active'|translate}}</span>
						<span class="badge badge-danger ng-binding ng-scope" ng-if="service.status=='N'">{{'lang_Inactive'|translate}}</span>
						</td> 
			<td>
			 <div class="btn-group">
                    <button type="button" class="btn btn-primary"><i class="icon-list"></i></button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">{{'lang_Toggle_Dropdown'|translate}}</span>
                    </button>
                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(138px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
					<a class="dropdown-item" style="cursor: pointer" ng-click="UpdateactiveStatus(service.id,'N')" ng-if="service.status=='Y'" ng-confirm-click="Do you want to Inactive?"><i class="fa fa-check fa-fw"></i>Active</a> 
					<a class="dropdown-item" style="cursor: pointer" ng-click="UpdateactiveStatus(service.id,'Y')" ng-if="service.status=='N'" ng-confirm-click="Do you want to Inactive?"><i class="fa fa-check fa-fw"></i>Inactive</a>
                    <a class="dropdown-item" ui-sref="edit_services({id:service.id})"><i class="fa fa-pencil-square-o"></i>{{'lang_edit'|translate}}</a>
					<a class="dropdown-item" style="cursor:pointer" ng-click="GetServicesdelete(service.id)" ng-confirm-click="Do you want to Delete?"><i class="fa fa-trash-o fa-fw"></i>Delete</a>
                    </div>
                </div>
            </td>
            </tr>
                   
                </tbody>

	</table>
    
	</div>
</section>


    
