.noscroll {
  overflow: hidden;
}
.dialog {
  z-index: 999999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: calc(100%);
  height: auto!important;
  background: #efeae1;
}
.dialog[ng-cloak] {
  display: none;
}
.dialog .content {
  position: absolute;
  width: 100%;
  top: 35%;
  text-align: center;
  transform: translateY(-50%);
}
.fa-cog {
  font-size: 3em;
}
