    <nav class="hk-breadcrumb" aria-label="breadcrumb" ng-init="getnotdispatchlist(1,0);">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
                    <li class="breadcrumb-item"><a href="#"><i class="glyphicon glyphicon-home"></i>    {{'lang_Home'|translate}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{'lang_Operation_Filter'|translate}}>
					<li class="breadcrumb-item active" aria-current="page">{{'lang_Schedule_Not_Dispatch'|translate}} </li>
                </ol>
    </nav>
	<div class = "">
	
	<section class="hk-sec-wrapper">
	<h5 class="hk-sec-title">{{'lang_Schedule_Not_Dispatch'|translate}}</h5> {{'lang_Shipment_which_Schedule_for_current_date_and_not_dispatched'|translate}} <br> <br/>
    <section class="hk-sec-wrapper">
	<table class="table datatable-show-all table-bordered table-hover datatable-highlight panel panel-flat" style="height:200px !important;">
        
        <thead>
        
        <form name="search_form" method="post" action=""></form>
        
        <input type="HIDDEN" name="show_type" value="">
        <tr style="height:125px;">
        <td colspan="12">
		
        <div class="row">
       
       
        <div class="col-md-3">
		<b>{{'lang_From'|translate}}:</b>
        <input type="text" name="search_date" id="datepicker1"  ng-model="filterData.search_date" class="form-control" placeholder="yy-mm-dd">
        </div>
        
         <div class="col-md-3">
		 <b>{{'lang_To'|translate}}:</b>
          <input type="text" name="to_date" id="datepicker2" ng-model="filterData.to_date" class="form-control" placeholder="yy-mm-dd">
        </div>
        <div class="col-md-2">   
        <input type="submit" name="bt_search" style="margin-top:22px;" value="{{'lang_generateReport'|translate}}" class="btn btn-primary" ng-click="getnotdispatchlist(1,1);">
        </div>
        <div class="col-md-2">
            <span class="btn btn-primary" style="margin-top:22px;">{{'lang_Total'|translate}} <span ng-if="totalCount>0">({{totalCount}})</span> <span ng-else>(0)</span></span>  
            </div> 			
        
         <div class="col-md-2">
             
   <button type="button" name="bt_search" style="margin-top:22px;" data-toggle="tooltip" data-placement="top" title="Download Excel Report" onclick="create_zip();"  class="btn btn-primary"><i class="fa fa-file-excel-o fa-2x"></i></button>		
        </div>
        
        </div>								
        </td>
        </tr>
        					
        
        </thead>
		
        </table>
	</section>
	
	<div class = "table-responsive">
	<table  class="table table-striped table-bordered table-hover" align="center">
	        <thead>
                <tr>
                    
					<th>{{'lang_sNO'|translate}} </th>
                    <th>{{'lang_reference'|translate}}</th>
                    <th>{{'lang_AWB'|translate}}#</th>
                    <th>{{'lang_CallAttempts'|translate}} </th>
                    <th>{{'lang_DeliveryAttempts'|translate}} </th>
                    <th>{{'lang_origin'|translate}} </th>
                    <th>{{'lang_destination'|translate}} </th>
                    <th>{{'lang_RecieverName'|translate}}</th>
                    <th>{{'lang_RecieverAddress'|translate}} </th>
                    <th>{{'lang_RecieverPhone'|translate}}</th>
                    <th>{{'lang_Mode'|translate}} </th>
                    <th>{{'lang_status'|translate}} </th>
                    <th>{{'lang_CODAmount'|translate}} </th>
                    <th>{{'lang_Sub_Category'|translate}} </th>
                    <th>{{'lang_details'|translate}} </th>
                    <th>{{'lang_DriverComment'|translate}} </th>
                    <th>{{'lang_ScheduleChanel'|translate}} </th>
                    <th>{{'lang_OnHold'|translate}}</th>
                    <th>{{'lang_Driver_name'|translate}} </th>
                    <th>{{'lang_Supplier_Name'|translate}} </th>
                    <th>{{'lang_Shelve'|translate}} </th>
                    <th>{{'lang_Customer_Account'|translate}} </th>
                    <th>{{'lang_SenderName'|translate}}  </th>
                    <th>{{'lang_scheduleDate'|translate}} </th>
                    <th>{{'lang_ScheduleChanel'|translate}} </th>
                    <th>{{'lang_TimeSlot'|translate}} </th>
                    <th>{{'lang_AreaStreet'|translate}} </th>
                    <th>{{'lang_Area'|translate}} </th>
                    <th>{{'lang_latitudelongitude'|translate}}</th>
                    <th>{{'lang_date'|translate}} </th>
                    <th>{{'lang_Update_By'|translate}} </th>
                </tr>
            </thead>
			<tbody>
			    <tr ng-repeat="data in ordernotdispatchArray">
				   <td>{{$index+1}}</td>
				
					<td>{{data.shippers_ref_no}}</td>
					<td><a ui-sref="details({shid:data.id})" target="_blank">{{data.slip_no}}</a></td>
					<td>{{data.call_attempt}}</td>
					<td>{{data.d_attempt}}</td>
					<td>{{data.origin}}</td>
					<td>{{data.destination}}</td>
					<td>{{data.reciever_name}}</td>
					<td>{{data.reciever_address}}</td>
					<td>{{data.reciever_phone}}</td>
					<td>{{data.mode}}</td>
					<td ng-bind-html="data.showStatus"></td>
					<td>{{data.total_cod_amt}}</td>
                    <td></td>
					<td>{{data.details}}</td>
					<td>{{data.comment}}</td>
					
					<td><span class="btn btn-danger" ng-if="data.schedule_status=='' || data.schedule_status=='N'">No</span><span class="btn btn-success" ng-if="data.schedule_status!='' || data.schedule_status=='Y'">Yes</span></td>
					<td>{{data.refused}}</td>
					<td>{{data.messanger_id}}</td>
					<td>{{data.supplier}}</td>
					<td>{{data.shelv_no}}</td>
					<td>{{data.uidshow}}</td>
					<td>{{data.sender_name}}</td>
					<td>{{data.schedule_date}}</td>
					   <td><span class="label label-success" ng-if="data.schedule_type!=''">{{data.schedule_type}}</span><span class="label label-danger" ng-if="data.schedule_type==''">N/A</span></td>  
					<td>{{data.time_slot}}</td>
					<td>{{data.area_street}}</td>
					<td>{{data.area}}</td>
					<td>{{data.dest_lat}},{{data.dest_lng}}</td>
					<td>{{data.entry_date1}}</td>
					<td>{{data.username}}</td>
				</tr>
				<tr>
					<td ng-if="ordernotdispatchArray==''" colspan="13"  style="text-align:center;">
						{{'lang_NoRecords_Found'|translate}} 
					</td> 
					
                </tr>
			</tbody>
			
	    </table>
        
		</div>
         <button ng-hide="ordernotdispatchArray.length==totalCount || ordernotdispatchArray==0" class="btn btn-info" ng-click="getnotdispatchlist(count=count+1,0);" ng-init="count=1">{{'lang_Load_More'|translate}}</button> 
		</section>
		</section>
		
		<div style="display:none;" ng-init="ScheduleNotDispaExcel();">
		<table id="testTable_new" class="table table-striped table-bordered table-hover" align="center">
	        <thead>
                <tr>
                    
					<th>{{'lang_sNO'|translate}} </th>
                    <th>{{'lang_reference'|translate}}</th>
                    <th>{{'lang_AWB'|translate}}#</th>
                    <th>{{'lang_CallAttempts'|translate}} </th>
                    <th>{{'lang_DeliveryAttempts'|translate}} </th>
                    <th>{{'lang_origin'|translate}} </th>
                    <th>{{'lang_destination'|translate}} </th>
                    <th>{{'lang_RecieverName'|translate}}</th>
                    <th>{{'lang_RecieverAddress'|translate}} </th>
                    <th>{{'lang_RecieverPhone'|translate}}</th>
                    <th>{{'lang_Mode'|translate}} </th>
                    <th>{{'lang_status'|translate}} </th>
                    <th>{{'lang_CODAmount'|translate}} </th>
                    <th>{{'lang_Sub_Category'|translate}} </th>
                    <th>{{'lang_details'|translate}} </th>
                    <th>{{'lang_DriverComment'|translate}} </th>
                    <th>{{'lang_ScheduleChanel'|translate}} </th>
                    <th>{{'lang_OnHold'|translate}}</th>
                    <th>{{'lang_Driver_name'|translate}} </th>
                    <th>{{'lang_Supplier_Name'|translate}} </th>
                    <th>{{'lang_Shelve'|translate}} </th>
                    <th>{{'lang_Customer_Account'|translate}} </th>
                    <th>{{'lang_SenderName'|translate}}  </th>
                    <th>{{'lang_scheduleDate'|translate}} </th>
                    <th>{{'lang_ScheduleChanel'|translate}} </th>
                    <th>{{'lang_TimeSlot'|translate}} </th>
                    <th>{{'lang_AreaStreet'|translate}} </th>
                    <th>{{'lang_Area'|translate}} </th>
                    <th>{{'lang_latitudelongitude'|translate}}</th>
                    <th>{{'lang_date'|translate}} </th>
                    <th>{{'lang_Update_By'|translate}} </th>
                </tr>
            </thead>
			<tbody>
			    <tr ng-repeat="data in SchedulenotdispExcellist">
				   <td>{{$index+1}}</td>
				
					<td>{{data.shippers_ref_no}}</td>
					<td>{{data.slip_no}}</td>
					<td>{{data.call_attempt}}</td>
					<td>{{data.d_attempt}}</td>
					<td>{{data.origin}}</td>
					<td>{{data.destination}}</td>
					<td>{{data.reciever_name}}</td>
					<td>{{data.reciever_address}}</td>
					<td>{{data.reciever_phone}}</td>
					<td>{{data.mode}}</td>
					<td ng-bind-html="data.showStatus"></td>
					<td>{{data.total_cod_amt}}</td>
                    <td></td>
					<td>{{data.details}}</td>
					<td>{{data.comment}}</td>
					
					<td><span class="btn btn-danger" ng-if="data.schedule_status=='' || data.schedule_status=='N'">No</span><span class="btn btn-success" ng-if="data.schedule_status!='' || data.schedule_status=='Y'">Yes</span></td>
					<td>{{data.refused}}</td>
					<td>{{data.messanger_id}}</td>
					<td>{{data.supplier}}</td>
					<td>{{data.shelv_no}}</td>
					<td>{{data.uidshow}}</td>
					<td>{{data.sender_name}}</td>
					<td>{{data.schedule_date}}</td>
					   <td><span class="label label-success" ng-if="data.schedule_type!=''">{{data.schedule_type}}</span><span class="label label-danger" ng-if="data.schedule_type==''">N/A</span></td>  
					<td>{{data.time_slot}}</td>
					<td>{{data.area_street}}</td>
					<td>{{data.area}}</td>
					<td>{{data.dest_lat}},{{data.dest_lng}}</td>
					<td>{{data.entry_date1}}</td>
					<td>{{data.username}}</td>
				</tr>
				<tr>
					<td ng-if="SchedulenotdispExcellist==''" colspan="31" align="center" style="text-align:center;">
						{{'lang_NoRecords_Found'|translate}} 
					</td> 
					
                </tr>
			</tbody>
			
	    </table>
		</div>
   
<SCRIPT>

function create_zip() {
var tab_text = '<html xmlns:x="urn:schemas-microsoft-com:office:excel">';
 tab_text = tab_text + '<head><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet>';
 tab_text = tab_text + '<x:Name>Test Sheet</x:Name>';
 tab_text = tab_text + '<x:WorksheetOptions><x:Panes></x:Panes></x:WorksheetOptions></x:ExcelWorksheet>';
 tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';
 tab_text = tab_text + "<table border='1px'>";
//get table HTML code
 tab_text = tab_text + $('#testTable_new').html();
 tab_text = tab_text + '</table></body></html>';
  
  /*var zip = new JSZip();
  zip.add(Date()+"_manifest details.xls", tab_text);
  content = zip.generate();
  zip.file(Date()+"_manifest details.xls"); // the file
  location.href="data:application/zip;base64," + content;*/
  
  var zip = new JSZip();
zip.file(Date()+"  Not Dispath.xls", tab_text);
zip.generateAsync({type:"blob"})
.then(function(content) {
    saveAs(content, Date()+" Not Dispath.zip");
});
  

}
</SCRIPT>