
<nav class="hk-breadcrumb" aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-light bg-transparent">
    <li class="breadcrumb-item"><a href="#"><i class="glyphicon glyphicon-home"></i> {{'lang_Home'|translate}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{'lang_generalSetting'|translate}} </li>
    <li class="breadcrumb-item active" aria-current="page">{{'lang_PaymentSetting'|translate}}</li>
  </ol>
</nav>
<div class="">
<!-- Title -->

<div class="row">
  <div class="col-xl-12">
    <div class="panel-body">
      <section class="hk-sec-wrapper">
        <form role="form"  method="post"  name="payment_setting" id="payment_setting">
          <h5 class="hk-sec-title">Payment Setting</h5>
          <br>
          <section class="hk-sec-wrapper">
            <div class="panel-heading"> <i class="fa fa-paypal fa-1x default_color"></i>&nbsp; Paypal </div>
            <hr><div class="row">
            <div class="col-sm-8">
             <div class="form-group">
              <label>Paypal</label>
              &nbsp;&nbsp;
              <input type="radio" value="Y" name="paypal"  checked="checked"/>
              &nbsp;&nbsp; <strong>On</strong>&nbsp;&nbsp;
              <input type="radio" value="N" name="paypal" checked="checked"/>
              &nbsp;&nbsp; <strong>Off</strong> </div>
            </div>
              <div class="col-sm-8">
                <div class="form-group">
                  <label for="inputText">Email</label>
                  <input type="email" name="paypalemail" class="form-control"  ng-model="payment_settingArray.paypalemail" required>
				  
                 <span class="text-danger" ng-show="payment_setting.$error.paypalemail">
                  Please Enter Valid Email!</span>
                <br>
              </div>
            </div>
			</div>
          </section>
          <section class="hk-sec-wrapper">
            <div class="panel-heading"> <i class="fa fa-money fa-1x default_color"></i>&nbsp; Wire Transfer </div>
            <hr> <div class="row">
            <div class="col-sm-8">
            <div class="form-group">
              <label>Wire Transfer</label>
              &nbsp;&nbsp;
              <input type="radio" value="Y" name="wire"  checked="checked"/>
              &nbsp;&nbsp; <strong>On</strong>&nbsp;&nbsp;
              <input type="radio" value="N" name="wire" checked="checked"/>
              &nbsp;&nbsp; <strong>Off</strong> </div>
              </div>
           
              <div class="col-sm-8">
                <div class="form-group">
                  <label for="inputText">Wire Detail</label>
                  <input type="text" name="wire" class="form-control" ng-model="payment_settingArray.wire" required>
                  <span class="text-danger" ng-show="payment_setting.wire.$error.required">Wire Detail is required.</span>
               
                   </div>
              </div>
            </div>
          </section>
		  
          <input name="submit" type="submit" class="btn btn-primary" value="Submit" ng-disabled="payment_setting.$invalid"  ng-click="paymentform(payment_settingArray);">
        </form>
      </section>
    </div>
  </div>
</div>
